name: Link Checker

on:
  workflow_dispatch:
  schedule:
    - cron: '0 6 * * 1'

jobs:
  lychee:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install lychee
        uses: lycheeverse/lychee-action@v1
        with:
          args: --config lychee.toml --verbose .
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
